%h3 Users

- if @users.present?
  %table.table.table-striped
    %thead
      %tr
        %th{scope: 'col'}
          Name
        %th{scope: 'col'}
          Phone number
        %th{scope: 'col'}
          Deployment
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.phone_number
          %td= user.deployment.description

- else
  There is no registered user at the moment.

