#aboutModal.modal.fade{"aria-hidden": "true", "aria-labelledby": "aboutModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#aboutModalLabel.modal-title About Courier Bot
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
      .modal-body
        Test modal
      .modal-footer
        %button.btn.btn-primary{"data-dismiss": "modal", type: "button"} Close
