%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to ' Courier bot demo', root_path, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    - if admin_signed_in?
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Users', users_path, class: 'nav-link'
        %li.nav-item
          %a.nav-link{:href => "#"} About

      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to 'Log out', destroy_admin_session_path, method: :delete, class: 'nav-link'
