%p My name's Etienne, I built Courier Bot as a SMS reporting proof-of-concept. This application is the result of observations I made by reading about projects used in humanitarian aid and disaster relief over the past years (projects such as FrontlineSMS, Ushahidi, Needslist...). 

%p Courier Bot is for demo-purpose only. To get to a production-ready state would require validation from people who have experience in the fields I mentioned above.

%p From a technological point of view, this mini-project was built using Rails 5. I had an opportunity to explore the TwilioSMS API and functionalities and the use of Websockets through Rails 5 ActionCable. This project also uses Devise for authentication, Bootstrap 4, and Redis.

%p If you have any questions or feedback, please feel free to send me an email to mail@etiennebaque.com.
