%section#intro
  %p Courier bot is a simple chatbot demo. Its aim is to enable users to send text messages to this website for quick and easy reporting. To get started: 
  %ul
    %li= "Click on #{ link_to 'Users', users_url } and add your name as well as your phone number. You can also choose a deployment site.".html_safe
    %li Text 'help me' to +15799771147 to see available commands.
    %li Start sending text messages to that same number and see them showing up underneath automatically.
    %li Once you're done, click on this link to reset the database and delete the info you entered: ...

%section#needs-reports
  %h4 Needs & Reports
  .container
    .row
      .col
        %table.table#need-table
          %thead
            %tr
              %th.col Needs
          %tbody
            - Need.all.each do |need|
              %tr
                %td= need.description

      .col
        %table.table#report-table
          %thead
            %tr
              %th.col Reports
          %tbody
            - Report.all.each do |report|
              %tr
                %td= report.description

