%section#intro
  %p Courier bot is a simple chatbot demo developed as a personal project. Its aim is to experiment technologies enabling users to send text messages to this website for quick and easy reporting.

  %p Here what to do to get started:
  %ul
    %li Click on "Users" and add your name as well as your phone number. You can also choose a deployment.
    %li Follow the instructions in the "Send a report" section underneath.

%section#needs-reports
  %h4 Needs & Reports
  .container
    .row
      .col
        %table.table
          %thead
            %tr
              %th.col Needs
          %tbody
            - Need.all.each do |need|
              %tr
                %td= need.description

      .col
        %table.table
          %thead
            %tr
              %th.col Reports
          %tbody
            - Report.all.each do |report|
              %tr
                %td= report.description

