body {
  font-size: 14px;
}

#mainContent {
  padding-top: 20px;
}

#intro {
  padding-bottom: 25px;

  #instructions {
    padding: 10px 0px;
    .invalid-feedback{
      width: 150px;
    }
  }

  li { 
    padding: 2px 0px;
    &.simple-user-form {
      list-style-type: none;

      label {
        margin-right: 8px;
      }
      input {
        margin-right: 8px;
      }
    }
  }
}

#needsReports {
  padding-bottom: 20px;
  th {
    text-align: center;
  }

  td {
    span.reporter {
      font-size: 12px;
    }
  }
}
