// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-link {
  padding: 10px 0px;
}

#user-list {
  padding-bottom: 20px;
}

#new-user {
  padding-bottom: 20px;

  #submit-new-user {
    margin-top: 20px
  }
}
